<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="header-wrapper main-header" th:fragment="title">
  <div class="header-inner-wrapper">
    <div class="logo-wrapper">
      <a href="" class="admin-logo">
        <table>
          <thead>
          <th><img th:src="@{/static/picture/icon-yellow.png}" width="40px" alt="" ></th>
          <th><h3 style="color: #ffffff">&emsp;图书管理系统</h3></th>
          </thead>
        </table>
      </a>
    </div>
    <div class="header-right">
      <div class="header-left">
        <div class="header-links">
          <a href="javascript:void(0);" class="toggle-btn">
            <span></span>
          </a>
        </div>
      </div>
      <div class="header-controls">
        <div class="user-info-wrapper header-links">
          <a href="javascript:void(0);" class="user-info">
            <img th:src="@{/static/picture/user.png}" height="35px" width="35px" alt="" class="user-img">
          </a>
          <div class="user-info-box">
            <div class="drop-down-header">
              <tr>
                <th th:text="${user.getRole().equals('user')? '学生:':'管理员:'}">
                <th th:text="${user.getName()}">
              </tr>
              <p>欢迎进入图书管理系统</p>
            </div>
            <ul>
              <li>
                <a th:href="@{/api/auth/logout}">
                  <i class="fas fa-sign-out-alt"></i> 退出登录
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
    <!-- Sidebar Start -->
    <aside class="sidebar-wrapper" th:fragment="aside">
      <div class="side-menu-wrap">
        <ul class="main-menu">
          <li sec:authorize="hasRole('admin')">
            <a th:href="@{/page/admin/index}" class="active">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
              <span class="menu-text">
                                借阅管理
                            </span>
            </a>
          </li>
          <li sec:authorize="hasRole('admin')">
            <a th:href="@{/page/admin/book}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            </span>
              <span class="menu-text">
                                图书管理
                            </span>
            </a>
              <ul class="sub-menu in menu-show" style="display: block;">
                  <li class="">
                      <a th:href="@{/page/admin/book}" >
                                    <span class="icon-dash">
                                    </span>
                          <span class="menu-text">
                                        图书列表
                                    </span>
                      </a>
                  </li>
                  <li class="">
                      <a th:href="@{/page/admin/add_book}" >
                                    <span class="icon-dash">
                                    </span>
                          <span class="menu-text">
                                        添加图书
                                    </span>
                      </a>
                  </li>
              </ul>
          </li>

          <li sec:authorize="hasRole('user')">
            <a th:href="@{/page/user/index}" class="active">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
              <span class="menu-text">
                                图书借阅
                            </span>
            </a>
          </li>

          <li sec:authorize="hasRole('user')">
            <a th:href="@{/page/user/book}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            </span>
              <span class="menu-text">
                                借阅管理
                            </span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
</body>
</html>